body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: 80vh;
}

h4 {
  padding: 1rem 0;
}

h3 {
  padding: 1rem 0;
}

h2 {
  padding: 0.5rem 0;
}

h1 {
  padding: 0.3rem;
}

.rating span {
  margin: 0.1rem;
}

.carousel {
  margin: 0.3rem auto 1rem;
}

.carousel-control-next,
.carousel-control-prev {
  display: none;
}

.carousel-indicators {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 45px;
  justify-content: flex-end;
  right: 0;
  margin: 1rem 0;
  padding: 1rem;
}

.carousel-indicators li {
  background-color: rgb(120, 194, 173);
}

.carousel-caption {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0;
}

.carousel-caption h3 {
  color: #fff;
  background-color: rgba(120, 194, 173, 0.8);
  margin: 0;
}

.carousel img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.carousel a {
  margin: 0 auto;
}

@media (max-width: 440px) {
  .carousel-caption h3 {
    font-size: 5vw;
  }
}

@media (min-width: 441px) and (max-width: 900px) {
  .carousel-caption h3 {
    font-size: 3vw;
  }
}
